# Data processing

In this notebook, I am loading a list of molecules I obtained from ChEMBL and processing them to make sure I have:
- Standard SMILES representation of the compound
- InChIKey associated to the compound

In [117]:
# In this codeblock I will import the necessary packages and specify the paths to relevant folders
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import rdkit
import sys
from smiles_processing import standardise_smiles
from InChIKey_generation import generate_inchikey
sys.path.append('../src')
%matplotlib inline

In [119]:
# In this codeblock I will load the data from the /data folder to a Pandas dataframe and understand which headers it has
df = pd.read_csv('../data/input.csv', delimiter=',')
df

                                                smiles
0                         CCCCNC(=S)N/N=C/C1=C(C)C=CS1
1           CN1C(SCC2=NC(C3=CC=CS3)=NO2)=NN=C1C1CCCCC1
2             O=C(O)CC(NC(=O)C1=CN=CC=N1)C1=CC=CC=C1Cl
3    O=S(=O)(C1=CC=CC=C1)N1CCN(C2=NOC3=CC=CC(Cl)=C2...
4    CCC[C@@H](C)N(C1=CC(Cl)=CC=C1CO)S(=O)(=O)C1=CC...
..                                                 ...
995  CCCN1C(C2=CN=C(NC3=CC=C(C)N=C3)C(Cl)=C2)=NC2=C...
996   CN(CC1=CC=CC2=CC=CC=C12)CN1N=C(C2=CC=NC=C2)OC1=O
997  O=C(N[C@@H](CSCC1=CC=CC=C1)C(=O)NC1=CC=C(C2S/C...
998  CN1CC[C@]23CCCC[C@H]2[C@H]1CC1=CC=C(OC2=CC=CC=...
999  O=C(CN1C(=O)/C(=C/C2=CC=CO2)SC1=S)NC1=CC=C(C(=...

[1000 rows x 1 columns]

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   smiles  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [121]:
df.describe()

                              smiles
count                           1000
unique                          1000
top     CCCCNC(=S)N/N=C/C1=C(C)C=CS1
freq                               1

In [125]:
# In this codeblock I will convert the molecules to standard SMILES by using the function standardise_smiles from /src
# I will import the function directly from src, not copying it here

smiles_list = df['smiles'].tolist()
standardised_smiles_list = standardise_smiles(smiles_list)
df['standardised_smiles'] = standardised_smiles_list

# Checking for NaN values in standardised_smiles_list
nan_indices = np.where(pd.isnull(standardised_smiles_list))[0]

if len(nan_indices) > 0:
    print("NaN values detected at indices:", nan_indices)
else:
    print("No NaN values detected in standardised_smiles_list.")

[03:47:42] Can't kekulize mol.  Unkekulized atoms: 3 7

NaN values detected at indices: [200 235 759]

During SMILES standardization, the code uses RDKit to convert each string into a molecular structure. However, some SMILES might be invalid for RDKit to handle, resulting in NaN values. This could be the case for the three SMILES strings causing NaN outputs.

In [126]:
df

,smiles,standardised_smiles
0,CCCCNC(=S)N/N=C/C1=C(C)C=CS1,CCCCNC(=S)N/N=C/c1sccc1C
1,CN1C(SCC2=NC(C3=CC=CS3)=NO2)=NN=C1C1CCCCC1,Cn1c(SCc2nc(-c3cccs3)no2)nnc1C1CCCCC1
2,O=C(O)CC(NC(=O)C1=CN=CC=N1)C1=CC=CC=C1Cl,O=C(O)CC(NC(=O)c1cnccn1)c1ccccc1Cl
3,O=S(=O)(C1=CC=CC=C1)N1CCN(C2=NOC3=CC=CC(Cl)=C2...,O=S(=O)(c1ccccc1)N1CCN(c2noc3cccc(Cl)c23)CC1
4,CCC[C@@H](C)N(C1=CC(Cl)=CC=C1CO)S(=O)(=O)C1=CC...,CCC[C@@H](C)N(c1cc(Cl)ccc1CO)S(=O)(=O)c1ccc(C)cc1
...,...,...
995,CCCN1C(C2=CN=C(NC3=CC=C(C)N=C3)C(Cl)=C2)=NC2=C...,CCCn1c(-c2cnc(Nc3ccc(C)nc3)c(Cl)c2)nc2cccc(Cl)c21
996,CN(CC1=CC=CC2=CC=CC=C12)CN1N=C(C2=CC=NC=C2)OC1=O,CN(Cc1cccc2ccccc12)Cn1nc(-c2ccncc2)oc1=O
997,O=C(N[C@@H](CSCC1=CC=CC=C1)C(=O)NC1=CC=C(C2S/C...,O=C(N[C@@H](CSCc1ccccc1)C(=O)Nc1ccc(C2S/C(=N\c...
998,CN1CC[C@]23CCCC[C@H]2[C@H]1CC1=CC=C(OC2=CC=CC=...,CN1CC[C@]23CCCC[C@H]2[C@H]1Cc1ccc(Oc2ccccc2F)cc13
999,O=C(CN1C(=O)/C(=C/C2=CC=CO2)SC1=S)NC1=CC=C(C(=...,O=C(CN1C(=O)/C(=C/c2ccco2)SC1=S)Nc1ccc(C(=O)O)...

In [127]:
df.describe()

                              smiles       standardised_smiles
count                           1000                       997
unique                          1000                       997
top     CCCCNC(=S)N/N=C/C1=C(C)C=CS1  CCCCNC(=S)N/N=C/c1sccc1C
freq                               1                         1

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   smiles               1000 non-null   object
 1   standardised_smiles  997 non-null    object
dtypes: object(2)
memory usage: 15.8+ KB

In [129]:
# Remove NaN values from DataFrame
# df.dropna(inplace=True)
# df = df[df['standardised_smiles'].notna()]
# df = df[df['standardised_smiles'] != 'NaN']
df = df.dropna().copy()
df.reset_index(drop=True, inplace=True)
df

,smiles,standardised_smiles
0,CCCCNC(=S)N/N=C/C1=C(C)C=CS1,CCCCNC(=S)N/N=C/c1sccc1C
1,CN1C(SCC2=NC(C3=CC=CS3)=NO2)=NN=C1C1CCCCC1,Cn1c(SCc2nc(-c3cccs3)no2)nnc1C1CCCCC1
2,O=C(O)CC(NC(=O)C1=CN=CC=N1)C1=CC=CC=C1Cl,O=C(O)CC(NC(=O)c1cnccn1)c1ccccc1Cl
3,O=S(=O)(C1=CC=CC=C1)N1CCN(C2=NOC3=CC=CC(Cl)=C2...,O=S(=O)(c1ccccc1)N1CCN(c2noc3cccc(Cl)c23)CC1
4,CCC[C@@H](C)N(C1=CC(Cl)=CC=C1CO)S(=O)(=O)C1=CC...,CCC[C@@H](C)N(c1cc(Cl)ccc1CO)S(=O)(=O)c1ccc(C)cc1
...,...,...
992,CCCN1C(C2=CN=C(NC3=CC=C(C)N=C3)C(Cl)=C2)=NC2=C...,CCCn1c(-c2cnc(Nc3ccc(C)nc3)c(Cl)c2)nc2cccc(Cl)c21
993,CN(CC1=CC=CC2=CC=CC=C12)CN1N=C(C2=CC=NC=C2)OC1=O,CN(Cc1cccc2ccccc12)Cn1nc(-c2ccncc2)oc1=O
994,O=C(N[C@@H](CSCC1=CC=CC=C1)C(=O)NC1=CC=C(C2S/C...,O=C(N[C@@H](CSCc1ccccc1)C(=O)Nc1ccc(C2S/C(=N\c...
995,CN1CC[C@]23CCCC[C@H]2[C@H]1CC1=CC=C(OC2=CC=CC=...,CN1CC[C@]23CCCC[C@H]2[C@H]1Cc1ccc(Oc2ccccc2F)cc13
996,O=C(CN1C(=O)/C(=C/C2=CC=CO2)SC1=S)NC1=CC=C(C(=...,O=C(CN1C(=O)/C(=C/c2ccco2)SC1=S)Nc1ccc(C(=O)O)...

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   smiles               997 non-null    object
 1   standardised_smiles  997 non-null    object
dtypes: object(2)
memory usage: 15.7+ KB

In [144]:
# In this codeblock I will get the Inchikey representation of the molecules using the RDKIT package

standardised_smiles = df['standardised_smiles'].tolist()
inchikey_list = generate_inchikey(standardised_smiles)



# Create a DataFrame with the processed SMILES and InChIKeys
processed_df = pd.DataFrame({'smiles': standardised_smiles, 'InChI_key': inchikey_list})
processed_df

,smiles,InChI_key
0,CCCCNC(=S)N/N=C/c1sccc1C,SUTWUYBMBWPLMW-MDWZMJQESA-N
1,Cn1c(SCc2nc(-c3cccs3)no2)nnc1C1CCCCC1,RIYHJWOTNJXDLV-UHFFFAOYSA-N
2,O=C(O)CC(NC(=O)c1cnccn1)c1ccccc1Cl,OGNBARHGQVMGGX-UHFFFAOYSA-N
3,O=S(=O)(c1ccccc1)N1CCN(c2noc3cccc(Cl)c23)CC1,WQEXDIRUOYNDCM-UHFFFAOYSA-N
4,CCC[C@@H](C)N(c1cc(Cl)ccc1CO)S(=O)(=O)c1ccc(C)cc1,YEGVLLQDOGYWDQ-OAHLLOKOSA-N
...,...,...
992,CCCn1c(-c2cnc(Nc3ccc(C)nc3)c(Cl)c2)nc2cccc(Cl)c21,RGKVPYQYBUAAEH-UHFFFAOYSA-N
993,CN(Cc1cccc2ccccc12)Cn1nc(-c2ccncc2)oc1=O,VTRFEMUYHTXFEQ-UHFFFAOYSA-N
994,O=C(N[C@@H](CSCc1ccccc1)C(=O)Nc1ccc(C2S/C(=N\c...,QDFOYTHIYBSDPW-RGAOVNQFSA-N
995,CN1CC[C@]23CCCC[C@H]2[C@H]1Cc1ccc(Oc2ccccc2F)cc13,YZQZXLROYFNFQE-QTGUNEKASA-N
996,O=C(CN1C(=O)/C(=C/c2ccco2)SC1=S)Nc1ccc(C(=O)O)...,PRGIOMDFWSHPTC-QPEQYQDCSA-N

In [146]:
# In this codeblock I will save the data as a .csv file containing only the standard smiles and the inchikey as columns. 
# All data will be saved with informative names in the /data folder

# Model Bias Evaluation

Now, I will use the predictions I got from the Ersilia Model Hub on the dataset of 1000 molecules curated above and see how are they distributed in their space (which might be 0 to 1 for probabilities, or different for regression models)

In [1]:
# In this codeblock I will load the predictions I've run on Ersilia and saved in the /data folder

In [ ]:
# In this codeblock I will create the necessary plots with MatPlotLib to observe the distribution of predicted values